* {
    margin: 0;
    padding: 0;
    font-family: 'fredoka';
}

body {
    background-color:blanchedalmond;
  
}


#fondoSecundario {
    height: 500px;
    background-color: #A78D75;
    background-blend-mode: screen;
}

.contenedorBanner {
    position:absolute ;
    align-content: center;
    z-index: 3;
    top:200px;
    width: 500px;
}

.textoBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    padding: 30px;
}

#fondoSecundario h1 {
    font-size: 30px;
}

.seccionArticulos {
    height: 200px;
    background: #fff;
    background-blend-mode: screen;
}

.imagenAdopta {
    position: absolute;
    left:700px;
    top:225px;
    z-index: 2;
}

.imagenHuella{
    position: absolute;
    left:500px;
    top:225px;
}

.patitaDerecha{
    position: absolute;
    left:910px;
    top:290px;
}

.catSandwich {
    position: absolute;
    width: 600px;
    top: 450px;
    right: 30%;
}
.catSandwich:hover {
    transform: translateY(-14px); 
    background: url(../audio/cat-89108.mp3);
}
.catCute {
    position: absolute;
    top: 508px;
    bottom: -12.07%;
    transform: rotate(-15deg);
    width: 300px;
}
.catCute:hover{
    animation: rotateAnimation 6s infinite linear;
}

@keyframes rotateAnimation {
    from {
        transform: rotate(-15deg); /* Ángulo inicial de rotación */
    }
    to {
        transform: rotate(345deg); /* Ángulo final de rotación */
    }
}

.catAngry {
    position: absolute;
    top: 500px;
    width: 240px;
    right:3px;
}

.catSpy {
    position: absolute;
    width: 250px;
    right:-38px;
    top: 10px;
    transform: rotate(-1deg);
}
.catSpy:hover {
    transform: translateX(-14px); 
}

#areaDeQuizz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.gatitoModal {
    position: absolute;
    width: 90px;
    left:89%;
    top:-80px;
    z-index: 2;
}

#bg {
    background-color: chocolate;
}


@media only screen and (max-width: 768px) {
    .contenedorBanner {
        width: 100%;
        top: 150px;
    }
    
    .catSandwich {
        width: 100%;
        top: 400px;
    }
    
    .catCute {
        top: 470px;
        width: 150px; /* Ajustar el ancho para dispositivos más pequeños */
    }
    
    .gatitoModal {
        width: 60px; /* Ajustar el ancho para dispositivos más pequeños */
        left: 85%; /* Cambiar la posición lateral */
        top: -50px; /* Ajustar la posición vertical */
    }


    .imagenAdopta {
        position: absolute;
        left:50px;
        top:300px;
        z-index: 2;
        width: 280px;
    }
    
    .imagenHuella{
        position: absolute;
        left:-90px;
        top:190px;
        width: 250px;
    }

    .patitaDerecha{
        position: absolute;
        left:90px;
        top:290px;
    }
}

@media only screen and (max-width: 480px) {
    .contenedorBanner {
        width: 100%;
        top: 100px;
    }
    
    .catSandwich {
        width: 100%;
        top: 350px;
    }
    
    .catCute {
        top: 420px;
        width: 120px; /* Ajustar el ancho para dispositivos más pequeños */
    }
    
    .gatitoModal {
        width: 50px; /* Ajustar el ancho para dispositivos más pequeños */
        left: 85%; /* Cambiar la posición lateral */
        top: -30px; /* Ajustar la posición vertical */
    }
}


.imagen {
    width:160px;
}



.carritoicono{
    position: absolute;
    left:1300px;
    top:20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
}

.container-fluid{
    background-color: #A78D75;
}

.card {
    width: calc(25% - 20px); 
    margin-bottom: 20px; 
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box; 
    padding: 10px; 
    margin: 10px;
    
}

.btn-add {
    width: 50%; 
    height: 40px;
}

.cardContainer {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .card {
        width: calc(50% - 20px); 
    }
}

.botonVaciar {
    margin:20px;
}



 